*
{
margin: 0;
padding: 0;
box-sizing: border-box;

}


.header
{

background-image: url("images/drew-coffman-1872.jpg");
background-size: 100% 100%;
height: 100vh;
text-align: center;
color: white;
font-family: 'Alegreya Sans', sans-serif;
padding-bottom: 10rem;
}

.header .nav li
{
list-style: none;
float:right;
padding: 1rem;
border: none;
}
.header .nav li a:hover
{
color: #8e7754;

}
.nav
{

padding: 2rem 10rem;
margin-bottom: 5rem;
}
.header .nav a
{

color: white;
text-decoration: none;
font-weight: 600;
transition: all 0.5s;

}


.headd img
{
margin-top:0px;
height: 48px;
padding-right: 32rem;

}

.header-content

{

padding-top: 8rem;

}

.header-content h5
{

font-size: 22px;
font-weight: 800;
}

.header-content h1
{
padding-top: 8rem;
font-size: 85px;
font-weight: 900;
}

.header-content p
{
color: rgba(255,255,255, .92);
font-size: 30px;
font-weight: 600;

}
.header-content .first
{

padding: 20px;
color: white;
background-color: #8e7754;
border: none;
border-radius: 4px;
font-weight: 600;
transition: all 1s;
margin: 8px;
}

.header-content .two
{
    border: 2px solid white;
    padding: 18px;
    color: white;
    border-radius: 4px;
    font-weight: 600;
    background-color: transparent;
    transition: all 1s;
}

.header-content .first:hover
{

color: black;
background-color: white;

}

.header-content .two:hover
{

color: black;
background-color: white;

}
.header-content .family
{

top: 6rem;

}
.header-content h1
{
padding: 2rem;

}
.header-content p
{
    padding: 2rem;
    
}
.radious
{
width: 32px;
height: 50px;
background-color: transparent;
border: solid white 2px;
margin-left: 47rem;
margin-top: 5rem;
border-radius: 24px;
}
.contain
{
margin-top: 5rem;
overflow: auto;
padding-bottom: 5rem;
}

.contain .image 
{
width: 50%;
float: left;

}
.contain .image img
{

width: 70%;
padding-left: 8rem;
}
.text
{
float: left;
width: 50%;
margin-top: 4rem;
}
.text .royal

{

line-height: 1.8;


}
.text p
{

    color: #686868;

}
.text h2
{

font-size: 2rem;
font-weight: 400;
}

.text p i
{

border: solid 2px #f0f0f0;
border-radius: 50%;
padding: 10px;
color: #8e7754 !important;
margin-right: 0.5rem;
font-size: 20px;
}

.father
{

margin-top: 2rem;
overflow: auto;
background-color: #f8f8f8;
padding-top: 4rem;
padding-bottom: 4rem;
}

.caption
{
width: 30%;
float: left;
margin-left: 8rem;
padding-top: 8rem;

}
.imagee
{

float: left;
width: 40%;
margin-left: 16rem;
}

.imagee img
{

width: 100%;


}
.caption p

{

line-height: 1.8;
color: #686868;

}
.caption h2
{

font-size: 2rem;
font-weight: 400;
}
.our
{

text-align: center;
margin-top: 5rem;
margin-bottom: 6rem;
overflow: auto;
padding-left: 4rem;
padding-right: 4rem;
}
.our .ourr h2
{

font-size: 2rem;
font-weight: 400;
}
.our .ourr p
{

color: #686868;
padding-top: 12px;
}
.our .img-1
{

width: 33.333333333%;
float: left;
padding: 0rem 1rem;
}
.our .img-2
{

width: 33.333333333%;
float: left;
padding: 0rem 1rem;
}
.our .img-3
{

width: 33.333333333%;
float: left;
padding: 0rem 1rem;
}
.our .img-1 img
{

width: 100%;

}
.our .img-2 img
{

width: 100%;

}
.our .img-3 img
{

width: 100%;

}
.img-royal
{

margin-top: 3rem;
padding-left: 4rem;
padding-top: 1rem;
}

.img-1 h2
{

padding-top: 2rem;
font-weight: 400;

}
.img-1 p
{
padding-top: 1rem;
line-height: 1.8;
color: #686868;
}
.img-2 h2
{

padding-top: 2rem;
font-weight: 400;

}
.img-2 p
{
padding-top: 1rem;
line-height: 1.8;
color: #686868;
}
.img-3 h2
{

padding-top: 2rem;
font-weight: 400;

}
.img-3 p
{
padding-top: 1rem;
line-height: 1.8;
color: #686868;
}
.contact
{

background-color: #f8f8f8;
margin-top: 1rem;
overflow: auto;
padding-bottom: 8rem;
}
.contact .contact-caption
{
float: left;
width: 30%;
padding-left: 12rem;
padding-top: 8rem;

}
.contact .contact-map
{
position: relative;
float: left;
width: 30%;
padding-left: 8rem;
padding-top: 6rem;

}
.contact-caption .p-royal
{

line-height: 1.8;

}
.contact-caption p
{

color: #686868;

}
.contact-caption h2
{

font-size: 2rem;
font-weight: 500;

}
.contact-caption h5
{
font-size: 1rem;
color: #686868;

}
.Gps
{
position: absolute;
top: 50%;
left: 70%;
}
.contact-caption p i
{
    border: solid 2px #f0f0f0;
    border-radius: 50%;
    padding: 10px;
    background-color:   #8e7754 !important;
    margin-right: 0.5rem;
    font-size: 20px;
    color: white;

}

.About
{

padding-top: 3rem;
padding-bottom: 3rem;
background-color: #403d38;
overflow: auto;
padding-left: 3rem;
padding-right: 3rem;
}
.About .about-us
{
padding-left: 7rem;
float: left;
width: 18%;
}
.About .special
{
padding-left: 5rem;
float: left;
width: 18%;
}
.About .hours
{
padding-left:5rem ;
float: left;
width: 18%;
}
.About .details
{
padding-left:5rem ;
float: left;
width: 18%;
position: relative;
}
.About p
{

color: #807d7d;

}
.About h3
{
color: #ffffff;

}
.about-us p
{

line-height: 1.8;

}
.About hr
{

color: transparent;


}

.map
{
position: absolute;
top: 35%;

}
.About i
{

padding-right: 0.6rem;

}
.special h3
{
padding-bottom: 1.2rem;

}
.about-us h3
{
padding-bottom: 1.2rem;

}

.last
{
background-color: #353330;
text-align: center;
padding-bottom: 3rem;
position: relative;
}
.last .bakery
{

padding-top: 3rem;

}
.last .finish
{
padding-top: 2rem;
padding-bottom: 1rem;
}
.finish p
{
color: #777777;
font-size: 15px;
}
.iconns
{
    padding-top: 0.5rem;
}
.iconns i
{

font-size: 1.5rem;
background-color: #403d38;
color: #777777;
border-radius: 50%;
padding: 0.5rem;
}
.iconns .face:hover i
{
color: #ffffff;
background-color: rgb(74, 74, 177);
}
.face i
{

transition: all 0.3s;

}
.iconns .google:hover i
{
color: #ffffff;
background-color: rgb(199, 69, 17);
}
.google i
{

transition: all 0.3s;

}
.iconns .in:hover i
{
color: #ffffff;
background-color: rgb(36, 107, 165);
}
.in i
{

transition: all 0.3s;

}
.iconns .twitter:hover i
{
color: #ffffff;
background-color: rgb(83, 167, 235);
}
.twitter i
{

transition: all 0.3s;

}
.last .up
{

width: 45px;
height: 50px;
border: solid 2px white;
border-radius: 50%;
position: absolute;
right: 2%;
bottom: 3%;
}
.up
{

position: relative;

}
.up i
{

position: absolute;
top: 18%;
right: 28%;
color: white;
font-size: 2rem;
}
